/* Navbar transparency
-----------------------------------------------*/
a,
a:hover {
  color: #ffffff;
}
.bg {
  height: 2400px;
  background: url('../images/background-1.jpg') top center;
  }
  
.middle_title {
	margin-top: 20%;
	color: #ffffff;
}

.list_names {
	color: #ffffd8;
}

.navbar {
    background-color: transparent;
    background: transparent;
  }

