/* Background image
----------------------------------------------*/
html,body
{
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.bg {
  height: 2400px;
  width: auto;
  background: url('../images/background-1.jpg') top center;
}


/* Special Thanks
----------------------------------------------*/
.middle_title {
	margin-top: 20%;
	color: #ffffff;
}

.list_names {
	color: #ffffd8;
}

/* FAQ
----------------------------------------------*/
.nominators {
	margin-top: 7%;
	color: #3CB371;
}
.panel-default > .panel-heading {
  background-color: #E8E8E8;
}

/* About Us
----------------------------------------------*/
.about {
  margin-top: 7%;
  color: #ffffff;
  font-family:'Roboto Slab';
}
.tabcol {
  color: #ffffff;
}
.thetitles {
	font-family:'Roboto Slab';
}
.tab-content {
  color: #ffffff;
  font-family:'Roboto Slab';
}
.apolinks {
  color: #D4D4D4;
}


/* Navbar transparency
-----------------------------------------------*/
.navbar {
    background-color: transparent;
    background: transparent;
    font-family:'Roboto Slab';
}

/* Announcements bar
----------------------------------------------*/
.title{
	height:75px;
	background-color:#FFF5EE;
	line-height:60px;
	font-weight:bold;
	text-align:center;
	font-size:large;
	border-bottom:5px double #171717;
	border-top:5px double #171717;
	font-family:'Roboto Slab';
}

.messages {
	height:75px;
	line-height:1.5em;
	text-align:center;
	background-color:#FFF5EE;
	overflow:auto;
	border-bottom:5px double #171717;
	border-top:5px double #171717;
	font-family:'Roboto Slab';
}

/* Nominate, Adopt, Donate buttons 
----------------------------------------------*/
h2 {
	font-family: 'Lobster';
}

.nominate {
	text-align:center;
	margin-top:15%;
	margin-left:3.5%;
	border:1px solid #ddd;
	height:300px;
	background-color: #3CB371;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
    transition: all 1s ease;
}

.donate-adopt {
	text-align:center;
	margin-top:15%;
	border:1px solid #ddd;
	height:300px;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

/*.changeable span
{
  display:none;
}

.changeable:hover span
{
  display:inline-block;
}
*/
.changeable,
.changeable:hover {
  color: #ffffff;
  text-decoration: none;
}
.nominate:hover {
  border: 30px solid #000;
  border-radius: 50%;
}

.donate-adopt:hover {
  border: 30px solid #000;
  border-radius: 50%;
}
